= simple_form_for(plane) do |f|
  = f.input :registration
  = f.input :make
  = f.association :group
  = f.association :financial_account
  = f.association :legal_plane_class
  = f.input :has_engine
  = f.input :can_tow
  = f.input :can_fly_without_engine
  = f.input :can_be_towed
  = f.input :can_be_wire_launched
  = f.button :submit
