%h1= t('.title')
= new_link(Plane)
%table.filtered{ :"data-filter-by" => "group_id,filter_string" }
  %tr.no_filter.show_on_startup
    %th= t("views.filter_search")
    %th= t("views.filter_group")
  %tr.no_filter.show_on_startup
    %td= text_field_tag "filter_string"
    %td= select :group, "id", Group.all.map { |g| [g.name, g.id] }, { :include_blank => true }
  %tr.no_filter
    %th= Plane.l :registration
    %th= Plane.l :make
    %th= Plane.l :group
    %th= Plane.l :plane_cost_categories
    %th= Plane.l :financial_account
  %tbody.alternate
    - @planes.each do |plane|
      %tr.alternate_color{ :"data-filter_string" => "#{plane.registration} #{plane.make}".downcase, :"data-group_id" => plane.group_id, :class => plane.disabled ? "disabled_record" : "" }
        %td=h plane.registration
        %td=h plane.make
        %td=h plane.group.name
        %td=h plane.current_plane_cost_category_memberships.map { |c| c.plane_cost_category.name }.join(", ")
        %td=h plane.financial_account_at(Date.today)
        %td= show_link(plane)
        %td= edit_link(plane)
