%h1= t('.title')
%table
  %tr
    %th
      = Plane.l :registration
  - @planes.each do |plane|
    %tr
      %td=h plane.registration
      %td= link_to t('views.show'), plane
      %td= link_to Plane.l(:book), plane_flights_path(plane)
      %td= link_to t('views.edit'), edit_plane_path(plane)
      %td= link_to t('views.destroy'), plane, :confirm => 'Are you sure?', :method => :delete
= link_to t('views.new'), new_plane_path
