%h1= t('.title')
%table
  %tr
    %th
      = Plane.l :registration
  - @planes.each do |plane|
    %tr
      %td=h plane.registration
      %td= show_link(plane)
      %td= show_link([plane, :flights], Plane.l(:book))
      %td= edit_link(plane)
      %td= destroy_link(plane)
= new_link(Plane)
