%p
  %b Registration:
  = @plane.registration 

%p
  %b Make:
  = @plane.make

%p
  %b Cost category:
  = PlaneCostCategory.find(@plane.plane_cost_category_id).name rescue 'None'
  
%p
  %b Versions:
  - @plane.versions.each do |v|
    = v.created_at
    %br

TODO show plane_cost_category_memberships
= link_to 'Edit', edit_plane_path(@plane)
= link_to 'Back', planes_path
