%table.data
  %tr
    %th= Plane.l(:registration)
    %td=h @plane.registration
  %tr
    %th= Plane.l(:make)
    %td=h @plane.make
  %tr
    %th= Plane.l(:group)
    %td= @plane.group.name
  %tr
    %th= Plane.l(:legal_plane_class)
    %td= @plane.legal_plane_class.name

= render :partial => "common/memberships", :locals => { :object => @plane, :group => :plane_cost_category }
        
= link_to 'Bordbuch', plane_flights_path(@plane)
= link_to 'Edit', edit_plane_path(@plane)
= link_to 'Back', planes_path
