%table.data
  %tr
    %th= Plane.l(:registration)
    %td=h @plane.registration
  %tr
    %th= Plane.l(:make)
    %td=h @plane.make
  %tr
    %th= Plane.l(:seat_count)
    %td=h @plane.seat_count
  %tr
    %th= Plane.l(:group)
    %td= show_link(@plane.group, @plane.group.to_s)
  %tr
    %th= Plane.l(:default_launch_method)
    %td= I18n.t("flight.launch_types.#{@plane.default_launch_method}.long")
  %tr
    %th= Plane.l(:legal_plane_class)
    %td= show_link(@plane.legal_plane_class, @plane.legal_plane_class.to_s)
  %tr
    %th= Plane.l(:flags)
    %td
      %ul
        - [:has_engine, :can_tow, :can_fly_without_engine, :selflaunching, :can_be_towed, :can_be_wire_launched ].each do |flag|
          - if @plane.send(flag)
            %li= Plane.l(flag)
  - if @plane.disabled
    %tr
      %td= Plane.l(:disabled_long)
= render :partial => "financial_account_ownerships/list", :locals => { :object => @plane }
= render :partial => "common/memberships", :locals => { :object => @plane, :group => :plane_cost_category }
= show_link([@plane, :flights], Plane.l(:book))
= edit_link(@plane)
= back_link(Plane)
