.cost_rule.flight_cost_rule.hover_controls{ :id => "flight-cost-rule-#{rule.id}" }
  .controls
    %a.edit{:href => "#", :"data-flight_cost_rule_id" => rule.id} edit
    %a.copy{:href => "#", :"data-flight_cost_rule_id" => rule.id} copy
    %a.delete{:href => "#", :"data-flight_cost_rule_id" => rule.id} delete 
  %h3= rule.name
  %table.data
    %tr
      %th= FlightCostRule.l(:flight_type)
      %td= rule.flight_type
    %tr
      %th= t('views.validity')
      %td
        = l(rule.valid_from, :format => :short) rescue t('views.dates.minus_infinity')
        \-
        = l(rule.valid_to, :format => :short) rescue t('views.dates.infinity')
    - unless rule.comment.nil? || rule.comment == ''
      %tr
        %th= FlightCostRule.l(:comment)
        %td= rule.comment
