.filtered_flights
  .controls.no_print
    = link_to t("views.as_pdf"), generate_filtered_flights_path(@obj, @from, @to, @group_by, @aggregate_entries, :pdf), :class => "change_params", :target => "_blank"
    = link_to t("views.as_csv"), generate_filtered_flights_path(@obj, @from, @to, @group_by, @aggregate_entries, :csv), :class => "change_params", :target => "_blank"

  %h1.page_title= t('filtered_flights.index.title', :for => @obj.to_s)
  %h2.page_sub_title= "#{l(@from)} - #{l(@to)}"

  %form.no_print
    %input{ :type => :hidden, :name => 'group_by', :value => @group_by }
    .input.date
      = date_select :filter, :from, :default => @from
    .input.date
      = date_select :filter, :to, :default => @to
    = check_box_tag :aggregate_entries, 1, @aggregate_entries
    = label_tag t("views.aggregate_entries")
    = submit_tag 'Ok', :class => 'hide_on_startup'

  .no_print
    = t(".group_by")
    - [ "none", "groups", "planes", "people", "licenses", "purposes" ].each do |g|
      = link_to t("#{g}.index.title"), generate_filtered_flights_path(@obj, @from, @to, g, @aggregate_entries), 'data-group_by' => g, :class => "group_by"
  = render :partial => "flights/title_spans.html.haml"
  .flights.group_container.alternate
    - if @flights.is_a?(Array)
      = render :partial => "filtered_flights/index.html.haml", :locals => { :flights => @flights, :aggregate_entries => @aggregate_entries }
    - elsif @flights.is_a?(Hash)
      - @flights.keys.each do |k|
        .group
          .head
            %h1.title= k.to_s
            %em.hint= k.make rescue ''
          .items.alternate
            = render :partial => "filtered_flights/index.html.haml", :locals => { :flights => @flights[k], :aggregate_entries => @aggregate_entries}
          .foot
            .count
              = "#"
              %span.number= @flights[k].count
            .sum
              %span.number= format_minutes(@flights[k].map { |f| f.duration > 0 ? f.duration : 0 }.sum)
  - unless @flights.is_a?(Hash)
    .foot
      Gesamt
      .count
        = "#"
        %span.number= @flights.count
      .sum
        %span.number= format_minutes(@flights.map { |f| f.duration > 0 ? f.duration : 0 }.sum)

  .hidden
    #group-prototype
      .group.hover_controls
        .head
          %h1.title
          %em.hint
          .controls
            %a.control.toggle_no_print{ :href => '#' }= t(".exclude")
            %a.control.toggle_collapsed{ :href => '#' }= t(".collapse")
        .items.alternate
        .foot
          .count
            = "#"
            %span.number
          .sum
            %span.number
    #aggregated_entry-prototype
      .aggregated_entry.hover_controls.alternate_color
        .controls
          %a.control.toggle_hide_flights{ :href => '#' }= t(".collapse")
        .items
        .foot
          .count
            = "#"
            %span.number
          .sum
            %span.number

