.cost_rule.time_cost_rule{ :id => "time-cost-rule-#{rule.id}" }
  .controls
    %a.edit{:href => "#", :"data-time_cost_rule_id" => rule.id} edit
    %a.copy{:href => "#", :"data-time_cost_rule_id" => rule.id} copy
    %a.delete{:href => "#", :"data-time_cost_rule_id" => rule.id} delete 
  %h3= rule.name
  %table.data
    %tr
      %th= TimeCostRule.l(:flight_type)
      %td= rule.flight_type
    %tr
      %th= TimeCostRule.l(:cost)
      %td
        = t '.per_minute', :n => format_currency(rule.cost), :on => Flight.l(rule.depends_on.to_sym)
        - unless rule.additive_cost == 0
          = (rule.additive_cost > 0 ? "+ " : " ") + format_currency(rule.additive_cost)
    - unless rule.condition_field.nil? || rule.condition_operator.nil? || rule.condition_value.nil?
      %tr
        %th= TimeCostRule.l(:condition)
        %td
          = Flight.l(rule.condition_field.to_sym)
          = rule.condition_operator
          = rule.condition_value
    %tr
      %th= t('views.validity')
      %td
        = l(rule.valid_from, :format => :short) rescue t('views.dates.minus_infinity')
        \-
        = l(rule.valid_to, :format => :short) rescue t('views.dates.infinity')
    - unless rule.comment.nil? || rule.comment == ''
      %tr
        %th= TimeCostRule.l(:comment)
        %td= rule.comment
