.controls.no_print
  %a.print_pdf.show_on_startup{ :href => '#' } print as pdf

%h1.page_title= t('main_flight_book', :airfield =>  @airfield.name, :date => l(@date))
%form.no_print.submit_when_changed
  .input.date
    = date_select :filter, :date, :default => @date
  = submit_tag 'Ok', :class => 'hide_on_startup'
= render :partial => "flights/title_spans"
.flights.alternate
  - @flights.each do |flight|
    .flight_format.alternate_color= render :partial => "flights/flight_spans", :locals => { :flight => flight }
