%h1= t '.title'
= new_link(PersonCostCategory)
%table.table.table-striped.table-hover
  %thead
    %tr
      %th= PersonCostCategory.human_attribute_name(:name)
  %tbody
    - @person_cost_categories.each do |person_cost_category|
      %tr
        %td=h person_cost_category.name
        %td= show_link(person_cost_category)
        %td= edit_link(person_cost_category)
