%h1= t '.title'
%table
  %tr
    %th= PersonCostCategory.human_attribute_name(:name)
  - @person_cost_categories.each do |person_cost_category|
    %tr
      %td=h person_cost_category.name
      %td= link_to t('views.show'), person_cost_category_path(person_cost_category)
      %td= link_to t('views.edit'), edit_person_cost_category_path(person_cost_category)
      %td= link_to t('views.destroy'), person_cost_category_path(person_cost_category), :confirm => t('views.areusure'), :method => :delete
= link_to t('views.new'), new_person_cost_category_path 
