= simple_form_for(airfield) do |f|
  = f.input :name
  = f.input :registration, :required => false
  = f.input :lat
  = f.input :long
  = f.input :home
  = f.input :disabled unless airfield.new_record?
  = f.input :deleted unless airfield.new_record?
  = f.button :submit
