%h1 Editing airfield

= error_messages_for :airfield

- semantic_form_for(@airfield) do |f|
  = f.inputs :registration, :name
  = f.buttons
  
= link_to 'Show', airfield_path(@airfield)
= link_to 'Back', airfields_path

