%h1= t '.title'
= new_link(Airfield)
%table.filtered.table.table-striped.table-hover{ :"data-filter-by" => "filter_string" }
  %thead
    %tr.no_filter.show_on_startup
      %th= t("views.filter_search")
    %tr.no_filter.show_on_startup
      %td= text_field_tag "filter_string"
    %tr.no_filter
      %th= Airfield.human_attribute_name(:name)
      %th= Airfield.human_attribute_name(:registration)
      %th= I18n.t("views.duplicate_of")
      %th
  %tbody.alternate
    - @airfields.each do |airfield|
      %tr{ :"data-filter_string" => "#{(airfield.name || "").downcase} #{(airfield.registration || "").downcase}", :class => airfield.disabled? ? "disabled_record" : "" }
        %td{ :class => airfield.home? ? "marked" : "" }=h airfield.name
        %td=h airfield.registration
        %td=h airfield.duplicate_of && link_to(airfield.duplicate_of.to_s, airfield.duplicate_of)
        %td
          = show_link(airfield)
          = edit_link(airfield)
