%h1 New airfield

= error_messages_for :airfield 

- form_for(@airfield) do |f| 
  %p
    %b Registration
    %br
    = f.text_field :registration 
  %p
    %b Name
    %br
    = f.text_field :name 

  %p
    = f.submit "Create"
    
= link_to 'Back', airfields_path 