%h1= @airfield.to_s
= edit_link(@airfield)
= back_link(Airfield)
%table.data
  %tr
    %th= Airfield.l(:registration)
    %td=h @airfield.registration
  %tr
    %th= Airfield.l(:name)
    %td=h @airfield.name
  %tr
    %th= Airfield.l(:lat)
    %td=h @airfield.lat
  %tr
    %th= Airfield.l(:long)
    %td=h @airfield.long
  %tr
    %th
    %td= Airfield.l(:home) if @airfield.home
  - if @airfield.disabled
    %tr
      %th
      %td= Airfield.l(:disabled_long)
  - if @airfield.deleted
    %tr
      %th
      %td= Airfield.l(:deleted)

- if @airfield.duplicates.count > 0
  %h3
    = I18n.t("views.duplicates")
  - @airfield.duplicates.each do |dup|
    = link_to dup.to_s, dup
- else
  %h3
    = I18n.t("views.duplicate_of")
  - if @airfield.duplicate_of
    = link_to @airfield.duplicate_of.to_s, @airfield.duplicate_of
  - else
    .merge
      = form_tag airfield_merge_path(@airfield), method: :post do |f|
        = select_tag 'to_id', options_from_collection_for_select(Airfield.mergable(@airfield), 'id', 'merge_info')
        = submit_tag 'Merge'
