%h1= @airfield.to_s
%table.data
  %tr
    %th= Airfield.l(:registration)
    %td=h @airfield.registration
  %tr
    %th= Airfield.l(:name)
    %td=h @airfield.name
  %tr
    %th= Airfield.l(:lat)
    %td=h @airfield.lat
  %tr
    %th= Airfield.l(:long)
    %td=h @airfield.long
  %tr
    %th
    %td= Airfield.l(:home) if @airfield.home
  - if @airfield.disabled
    %tr
      %th
      %td= Airfield.l(:disabled_long)
  - if @airfield.deleted
    %tr
      %th
      %td= Airfield.l(:deleted)
= edit_link(@airfield)
= back_link(Airfield)
