%h1= t('.title')
.import
  = form_tag import_people_path, multipart: true do |f|
    = file_field_tag :file
    = submit_tag 'Import'
    %p.hint
      =t 'views.people_import_hint'
= new_link(Person)
= link_to 'Mitgliederliste', status_list_people_path(format: :csv)
%table.filtered.table.table-striped.table-hover{ :"data-filter-by" => "group_id,filter_string" }
  %thead
    %tr.no_filter.show_on_startup
      %th= t("views.filter_search")
      %th= t("views.filter_group")
    %tr.no_filter.show_on_startup
      %td= text_field_tag "filter_string"
      %td= select :group, "id", Group.all.map { |g| [g.name, g.id] }, { :include_blank => true }
    %tr.no_filter
      %th= Person.l(:lastname)
      %th= Person.l(:firstname)
      %th= Person.l(:group)
      %th= Person.l(:person_cost_categories)
      %th= Person.l(:financial_account)
  %tbody
    - @people.each do |person|
      %tr{ :"data-filter_string" => person.name.downcase, :"data-group_id" => person.group_id, :class => person.disabled? ? "disabled_record" : "" }
        %td=h person.lastname
        %td=h person.firstname
        %td=h person.group.name
        %td=h person.current_person_cost_category_memberships.map { |c| c.person_cost_category.name }.join(", ")
        %td=h person.financial_account_at(Date.today)
        %td= show_link(person)
        %td= edit_link(person)
