%h1= t('.title')
%table
  %tr
    %th= Flight.l(:firstname)
    %th= Flight.l(:lastname)
  - @people.each do |person|
    %tr
      %td=h person.firstname
      %td=h person.lastname  
      %td= show_link(person)
      %td= show_link([person, :flights], Person.l(:book))
      %td= edit_link(person)
      %td= destroy_link(person)
= new_link(Person)
