%h1= t('.title')
%table
  %tr
    %th= Flight.l(:firstname)
    %th= Flight.l(:lastname)
  - @people.each do |person|
    %tr
      %td=h person.firstname
      %td=h person.lastname  
      %td= link_to t('views.show'), person_path(person)
      %td= link_to t('views.edit'), edit_person_path(person)
      %td= link_to t('views.destroy'), person_path(person), :confirm => t('views.areusure'), :method => :delete
= link_to t('views.new'), new_person_path 
