%table.data
  %tr
    %th= Person.l(:name)
    %td=h @person.name
  %tr
    %th= Person.l(:group)
    %td=h @person.group.name
= render :partial => "licenses/list", :locals => { :person => @person }
= render :partial => "common/memberships", :locals => { :object => @person, :group => :person_cost_category }

= link_to t('views.edit'), edit_person_path(@person)
= link_to t('views.back'), people_path
