%h1= @person.name
- if @person.member
  %h4 Mitglied
= link_to  Person.l(:book), scoped_flights_path(@person) if can?(:read, :filtered_flights)
= edit_link(@person)
= back_link(Person)
%table.data
  %tr
    %th= Person.l(:group)
    %td= show_link(@person.group, @person.group.to_s)
  - if @person.disabled
    %tr
      %th
      %td= Person.l(:disabled_long)
  - if @person.deleted
    %tr
      %th
      %td= Person.l(:deleted)
  %tr
    %th= Person.l(:title)
    %td= @person.title
  - if @person.sex?
    %tr
      %th= Person.l(:sex)
      %td= t("person.sex.#{@person.sex}")
  - if @person.birthdate?
    %tr
      %th= Person.l(:birthdate)
      %td= l(@person.birthdate)
  %tr
    %th= Person.l(:address)
    %td
      .address1= @person.address1
      .address2= @person.address2
      .zip.city
        = @person.zip
        = @person.city
  - [ :email, :phone1, :phone2, :cell, :facsimile ].each do |m|
    - unless @person.send(m).nil? || @person.send(m) == ""
      %tr
        %th= Person.l(m)
        %td= @person.send(m)
  - if @person.member
    %tr
      %th= Person.l(:entry_date)
      %td= l(@person.entry_date)
    %tr
      %th= Person.l(:member_state)
      %td= t("person.member_state.#{@person.member_state}")
    %tr
      %th= Person.l(:lvb_member_state)
      %td= t("person.lvb_member_state.#{@person.lvb_member_state}")
  -if @person.comment?
    %tr
      %th= Person.l(:comment)
      %td=h @person.comment

= render :partial => "financial_account_ownerships/list", :locals => { :object => @person }
= render :partial => "licenses/list", :locals => { :person => @person }
= render :partial => "common/memberships", :locals => { :object => @person, :group => :person_cost_category }

- if @person.duplicates.count > 0
  %h3
    = Person.l(:duplicates)
  - @person.duplicates.each do |dup|
    = link_to dup.name, dup
- else
  %h3
    = Person.l(:duplicate_of)
  - if @person.duplicate_of
    = link_to @person.duplicate_of.name, @person.duplicate_of
  - else
    .merge
      = form_tag person_merge_path(@person), method: :post do |f|
        = select_tag 'to_id', options_from_collection_for_select(Person.all, 'id', 'merge_info')
        = submit_tag 'Merge'
