%h1= t(".title")
%h2= @financial_account.name
.balance= "#{t(".saldo")}: #{format_currency(@financial_account.balance)}"
- if @financial_account.member_account
  .max_debit_value= "#{FinancialAccount.l("max_debit_value")}: #{format_currency(@financial_account.max_debit_value)}"
%table
  %tr
    %th= AccountingEntry.l(:date)
    %th= AccountingEntry.l(:text)
    %th= AccountingEntry.l(:value)
  - (@financial_account.accounting_entries_from + @financial_account.accounting_entries_to).sort_by {|e| [e.date, e.id] }.reverse.each do |e|
    %tr
      %td=l e.date.to_date
      - if e.item
        %td= link_to e.text, (AbstractFlight === e.item ? flight_path(e.item) : flight_path(e.item.abstract_flight))
      - else
        %td=h e.text
      %td= "#{(e.to_id == @financial_account.id ? "+" : "-")} #{format_currency(e.value)}"
