- calculated_flights.each do |cf|
  - cf[:flights].each do |flight|
    .flight_format.flight{ :id => "flight-#{flight.id}", :'data-duration' => flight.duration, 
                           :'data-departure' => flight.departure.to_date.to_s, :'data-group-id' => cf[:group_id] }
      %span.date= l flight.departure.to_date
      %span.plane
        - unless flight.plane.nil?
          = link_to flight.plane.to_s, plane_path(flight.plane)
      %span.seat
        - unless flight.seat1.nil?
          = link_to flight.seat1.to_s, person_path(flight.seat1.person)
      %span.seat= flight.seat2.to_s
      %span.airfield= flight.from
      %span.airfield= flight.to
      %span.time= l(flight.departure, :format => :time)
      %span.time= flight.arrival.nil? ? '-' : l(flight.arrival, :format => :time)
      %span.duration= format_minutes(flight.duration) || "0:00"
      %a.group_up{ :href => '#' }
      %a.group_down{ :href => '#' }
      %a.ungroup{ :href => '#' }
