%span.date= l flight.departure.to_date
%span.plane
  - unless flight.plane.nil?
    = show_link(flight.plane, flight.plane.to_s)
%span.seat
  - unless flight.seat1.nil?
    = show_link(flight.seat1.person, flight.seat1.person.to_s)
%span.seat
  - unless flight.seat2.nil?
    - if flight.seat2.is_a?(PersonCrewMember)
      = show_link(flight.seat2.person, flight.seat2.person.to_s)
    - else
      = flight.seat2.to_s
%span.launch_type{ :title => flight.launch_type }= flight.launch_type_short
%span.purpose{ :title => flight.purpose.to_s }= flight.purpose.short
%span.airfield{ :title => flight.from.name }= flight.from
%span.airfield{ :title => flight.to.name }= flight.to
%span.time= l(flight.departure, :format => :time)
%span.time= flight.arrival.nil? ? '-' : l(flight.arrival, :format => :time)
%span.duration= format_minutes(flight.duration) || "0:00"
