= form_for(flight) do |f|
  = f.error_messages
  %fieldset
    %ol
      %li= labeled_text_field f, :plane
      %li
        = f.label :departure
        = f.datetime_select :departure
      %li= labeled_text_field f, :duration
    = f.submit 'Submit'
