= simple_form_for(@flight, :html => { :class => "sop" }) do |f|
  = f.input :departure, :as => :date
  = f.association :plane
  = f.input :seat1_id, :collection => Person.all.collect { |c| [ c.name, c.id ] }
  = f.input :seat2_id, :collection => Person.all.collect { |c| [ c.name, c.id ] }
  = f.association :from
  = f.association :to
  = f.input :departure, :as => :time, :wrapper_html => { :class => "departure no_replace" }
  = f.input :arrival, :as => :time, :wrapper_html => { :class => "arrival no_replace" }
  = f.input :duration, :wrapper_html => { :class => "duration" }
  - if @flight.plane.nil? || @flight.plane.engine_duration_possible?
    = f.input :engine_duration, :wrapper_html => { :class => "duration" }
  = f.association :controller
  - unless @flight.is_a?(TowFlight)
    = f.association :cost_hint
  = f.input :comment
  = f.button :submit
