- form_for(flight) do |f|
  = f.error_messages
  %fieldset
    %ol
      %li= labeled_text_field f, :plane
      %li= labeled_text_field f, :crew1
      %li= labeled_text_field f, :crew2
      %li= labeled_text_field f, :duration
      %li
        = f.label :departure
        = f.datetime_select :departure
  = f.submit 'Submit'
