= simple_form_for(@flight, :html => { :class => "sop" }) do |f|
  = f.input :departure, :as => :date
  = f.association :plane
  = f.input :seat1_id, :collection => Person.all.collect { |c| [ c.name, c.id ] }
  = f.input :seat2_id, :collection => Person.all.collect { |c| [ c.name, c.id ] }
  = f.association :from
  = f.association :to
  = f.input :departure, :as => :time
  .input.time.optional.replaced
    %label.time.optional{ :for => "arrival"}>= Flight.l(:arrival)
    = text_field_tag :arrival, (@flight.arrival.strftime("%H:%M") rescue ""), :class => "timepicker"
  = f.input :duration, :wrapper_html => { :class => "duration" }
  - if @flight.plane.nil? || @flight.plane.engine_duration_possible?
    = f.input :engine_duration, :wrapper_html => { :class => "duration" }
  = f.association :controller
  = f.input :comment
  = f.button :submit
