= simple_form_for(@flight, :html => { :class => "sop #{@flight.new_record? ? "new" : "edit"}" }) do |f|
  - unless TowFlight === @flight
    = f.input :departure_date
  - else
    .input.date.optional.replaced
      %label.date.optional>= Flight.l(:departure_date)
      =l @flight.departure_date
  = f.association :plane
  = f.input :seat1_id, :collection => Person.all.collect { |c| [ c.name, c.id ] } + [[ UnknownPerson.new.name, UnknownPerson.new.id ]], :include_blank => false
  = f.input :seat2_id, :collection => Person.all.collect { |c| [ c.name, c.id ] } + (1..3).to_a.map { |i| "+#{i}" }.map { |s| [s,s] }
  - unless TowFlight === @flight
    = f.association :from
  - else
    .input.select.reqired
      %label.select.reqired>= Flight.l(:from)
      = @flight.from
  = f.association :to
  - unless TowFlight === @flight
    = f.input :departure_time
  - else
    .input.time.optional.replaced
      %label.time.optional>= Flight.l(:departure_time)
      = @flight.departure_time
  = f.input :arrival_time
  .input.time.optional.replaced
    %label.time.optional>= Flight.l(:duration)
    %span.duration= @flight.duration_time_span
  - if @flight.plane.nil? || @flight.plane.engine_duration_possible?
    = f.input :engine_duration, :wrapper_html => { :class => "duration" }
  - unless @flight.is_a?(TowFlight)
    = f.association :controller
    = f.association :cost_hint
  = f.input :comment
  = f.button :submit
