%h1= t '.title'
= new_link(Flight, nil, :class => "sop")
%br
- if dates && !dates.empty?
  .day_links
    - last = dates.first[0]
    - dates.each do |date, count|
      - if date.month != last.month
        .mark{ :"data-date" => "#{date.year}-#{date.month < 10 ? "0" : ""}#{date.month}-32" }
          = l(date, :format => :month)
        - last = date
      .day_link{ :id => "day_link-#{date}", :class => ((current_day == date) ? "current" : ""), :"data-date" => date }
        %a{ :href => "#{flights_path}/day/#{date}", :"data-date" => date }
          %span.wrapper
            = l(date)
            %span.count= "(#{count})"
= render :partial => "flights/title_spans"
.flights{ :style => "margin-right: 115px;", :"data-current_day" => current_day }
  = render :partial => "flights/days", :locals => { :days => { current_day => flights } } if current_day && flights
.clear
