%td= l flight.departure.to_date
%td 
  - unless flight.plane.nil?
    = link_to flight.plane.to_s, plane_path(flight.plane)
%td
  - if flight.seat1.is_a? PersonCrewMember
    = link_to flight.seat1.to_s, person_path(flight.seat1.person)
  - else
    = flight.seat1.to_s
%td
  - if flight.seat2.is_a? PersonCrewMember
    = link_to flight.seat2.to_s, person_path(flight.seat2.person)
  - else
    = flight.seat2.to_s
%td= flight.from
%td= flight.to
%td= l(flight.departure, :format => :time)
%td= flight.arrival.nil? ? '-' : l(flight.arrival, :format => :time)
%td= format_minutes(flight.duration) || "0:00"
