.head
  %span.id= Flight.l(:id)
  %span.date= Flight.l(:date)
  %span.plane= Flight.l(:plane)
  %span.seat= Flight.l(:seat1)
  %span.seat= Flight.l(:seat2)
  %span.launch_type{ :title => Flight.l(:launch_type) }= Flight.l(:launch_type_short)
  %span.purpose{ :title => Flight.l(:purpose) }= Flight.l(:purpose_short)
  %span.airfield= Flight.l(:from)
  %span.airfield= Flight.l(:to)
  %span.time= Flight.l(:departure)
  %span.time= Flight.l(:arrival)
  %span.duration= Flight.l(:duration)
