%h1 Editing flight

= form_for(@flight) do |f|
  = f.error_messages
  %fieldset.flight
    %ol
      %li
        = f.label :date
        %span.date_helper
          = f.date_select :departure
      %li.plane
        = labeled_text_field f, :plane
      %li
        = f.label :seat1
        %br
        = f.select :seat1_id, Person.all.collect { |c| [ c.name, c.id ] }
      %li
        = f.label :seat2
        %br
        = f.select :seat2_id, Person.all.collect { |c| [ c.name, c.id ] }
      %li.from
        = labeled_text_field f, :from
      %li.to
        = labeled_text_field f, :to
      %li.departure
        = f.label :departure
        %span.time_helper
          = f.time_select :departure, :ignore_date => true
      %li.arrival
        = f.label :arrival
        = text_field_tag :arrival, (@flight.arrival.strftime("%H:%M") rescue "")
      %li.duration
        = labeled_text_field f, :duration, { :class => 'duration' }
      - if !@flight.plane.nil? && @flight.plane.engine_duration_possible?
        %li.engine_duration
          = labeled_text_field f, :engine_duration, { :class => 'engine_duration' }
    = f.submit 'Submit'

= link_to 'Reload', edit_flight_path(@flight), :class => "replace_flight"
= link_to 'Show', @flight, :class => "replace_flight"
= link_to 'Back', flights_path
