%form
  .input.date
    = date_select :filter, :from, :default => @from
  .input.date
    = date_select :filter, :to, :default => @to
  = submit_tag 'Ok'

%a{ :href => "?", 'data-group_by' => 'none', :class => "group_by" } none
%a{ :href => "?group_by=groups", 'data-group_by' => 'groups', :class => "group_by" } groups
%a{ :href => "?group_by=planes", 'data-group_by' => 'planes', :class => "group_by" } planes
%a{ :href => "?group_by=people", 'data-group_by' => 'people', :class => "group_by" } people
%a{ :href => "?group_by=licenses", 'data-group_by' => 'licenses', :class => "group_by" } licenses

.flights.group_container
  - if @flights.is_a?(Array)
    = render :partial => "flights/filtered_flights", :locals => { :flights => @flights }
  - elsif @flights.is_a?(Hash)
    - @flights.keys.each do |k|
      .group
        .head
          %h1.title= k.to_s
          %em.hint= k.make rescue ''
        .items
          = render :partial => "flights/filtered_flights", :locals => { :flights => @flights[k] }
        .foot
          .count
            = t('flights.index.title') + ':'
            %span.number= @flights[k].count
          .sum
            %span.number= @flights[k].map { |f| f.duration > 0 ? f.duration : 0 }.sum
.foot
  - all = @flights.is_a?(Hash) ? @flights.values.flatten.uniq : @flights
  .count
    = t('flights.index.title') + ':'
    %span.number= all.count
  .sum
    %span.number= all.map { |f| f.duration > 0 ? f.duration : 0 }.sum

.hidden
  #group-prototype
    .group.hover_controls
      .head
        %h1.title
        %em.hint
        .controls
          %a.control.toggle_no_print{ :href => '#' } Print (on/off)
          %a.control.toggle_collapsed{ :href => '#' } Collapse
      .items
      .foot
        .count
          = t('flights.index.title') + ':'
          %span.number
        .sum
          %span.number
