%h1 Listing flights
%table
  %tr
    %th
      Crew1
    %th
      Crew2
    %th
      Departure
    %th
      Arrival
    %th
      Duration
  - @flights.each do |flight|
    %tr
      %td
        = h flight.crew1.name rescue ''
      %td
        = h flight.crew2.name rescue ''
      %td
        = h flight.departure
      %td
        = h flight.arrival
      %td
        = h flight.duration
      %td
        = link_to 'Show', flight
      %td
        = link_to 'Edit', edit_flight_path(flight)
      %td
        = link_to 'Destroy', flight, :confirm => 'Are you sure?', :method => :delete
        
= link_to 'New flight', new_flight_path
