%h1 Listing flights
%table
  %tr
    %th
      Date
    %th= Flight.l(:plane)
    %th
      Crew1
    %th
      Crew2
    %th= Flight.l(:to)
    %th= Flight.l(:from)
    %th= Flight.l(:departure)
    %th= Flight.l(:arrival)
    %th= Flight.l(:duration)
  - @flights.each do |flight|
    %tr
      %td= h flight.departure.to_date
      %td= h flight.plane
      %td CREW
      %td CREW
      %td= h flight.from
      %td= h flight.to
      %td= h flight.departure.strftime("%H:%M")
      %td= h flight.arrival.strftime("%H:%M") rescue ""
      %td= h i_to_h(flight.duration) rescue ""
      %td= link_to 'Show', flight
      %td= link_to 'Edit', edit_flight_path(flight)
      %td= link_to 'Destroy', flight, :confirm => 'Are you sure?', :method => :delete
        
= link_to 'New flight', new_flight_path
