.app_container
:javascript
  $(function() {
    F.cost_hints = new F.Collections.CostHints(#{ @cost_hints.to_json.html_safe });
    F.wire_launchers = new F.Collections.WireLaunchers(#{ @wire_launchers.to_json.html_safe });
    F.people = new F.Collections.People(#{ @people.to_json.html_safe });
    F.airfields = new F.Collections.Airfields(#{ @airfields.to_json.html_safe });
    F.planes = new F.Collections.Planes(#{ @planes.to_json.html_safe });
    F.flights = new F.Collections.Flights();
    F.flights.reset(#{ @flights.to_json.html_safe });
    window.router = new F.Routers.FlightsRouter();
    Backbone.history.start({pushState: true});
    F.people.fetch()
    F.airfields.fetch()
    $('#filter_hint').popover()
  });
