.list
  %h1= t '.title'
  %table
    %tr
      %th
        Date
      %th= Flight.l(:plane)
      %th
        Crew1
      %th
        Crew2
      %th= Flight.l(:to)
      %th= Flight.l(:from)
      %th= Flight.l(:departure)
      %th= Flight.l(:arrival)
      %th= Flight.l(:duration)
    - @flights.each do |flight|
      %tr
        = render :partial => "flights/table_content", :locals => { :flight => flight }
        %td= link_to t('views.show'), flight, :class => "sop show"
        %td= link_to t('views.edit'), edit_flight_path(flight), :class => "sop edit"
  = will_paginate @flights, :renderer => ApplicationHelper::CustomLinkRenderer
  = link_to 'Reload', flights_path, :class => "sop reload"
  = link_to 'New flight', new_flight_path, :class => "sop new"
