%dl.flight
  %dt= Flight.l(:plane)
  %dd= @flight.plane
  %dt= Flight.l(:crew)
  %dd CREW
  %dt= Flight.l(:from)
  %dd= @flight.from
  %dt= Flight.l(:to)
  %dd= @flight.to
  %dt= Flight.l(:departure)
  %dd= @flight.departure
  %dt= Flight.l(:arrival)
  %dd= @flight.arrival
  %dt= Flight.l(:duration)
  %dd= @flight.duration

= link_to 'Reload', flight_path(@flight), :class => "replace_flight"
= link_to 'Edit', edit_flight_path(@flight), :class => "replace_flight"
= link_to 'Back', flights_path
