%h1= t '.title'
= new_link(PlaneCostCategory)
%table
  %tr
    %th= PlaneCostCategory.human_attribute_name(:name)
  %tbody.alternate
    - @plane_cost_categories.each do |plane_cost_category|
      %tr.alternate_color.hover_mark
        %td=h plane_cost_category.name
        %td= show_link(plane_cost_category)
        %td= edit_link(plane_cost_category)
