%h1= t '.title'
%table
  %tr
    %th= PlaneCostCategory.human_attribute_name(:name)
  - @plane_cost_categories.each do |plane_cost_category|
    %tr
      %td=h plane_cost_category.name
  
      %td= show_link(plane_cost_category)
      %td= edit_link(plane_cost_category)
      %td= destroy_link(plane_cost_category)
    
= new_link(PlaneCostCategory)
