%h1= t '.title'
= new_link(LegalPlaneClass)
%table
  %tr
    %th= LegalPlaneClass.l(:name)
  - @legal_plane_classes.each do |legal_plane_class|
    %tr
      %td= h legal_plane_class.name
      %td= show_link(legal_plane_class)
      %td= edit_link(legal_plane_class)
