%table.data
  %tr
    %th= LegalPlaneClass.l(:name)
    %td=h @legal_plane_class.name 
  %tr
    %th= LegalPlaneClass.l(:planes)
    %td
      %ul.scroll.no_bullet
        - @legal_plane_class.planes.each do |p|
          %li= show_link(p, p.registration)
= edit_link(@legal_plane_class)
= back_link(LegalPlaneClass)
