%h1= @group.name
%table.data
  %tr
    %th= Group.l(:name)
    %td=h @group.name
  %tr
    %th= Group.l(:members)
    %td
      %ul.scroll.no_bullet
        - @group.people.each do |p|
          %li= link_to p.name, p
  %tr
    %th= Group.l(:planes)
    %td
      %ul.scroll.no_bullet
        - @group.planes.each do |p|
          %li= link_to p.registration, p
= edit_link(@group)
= back_link(Group)
= link_to I18n.t('cost.index.title'), cost_overview_group_path(@group)
