= #form_for(:cost_rule_condition, :url => flight_cost_rule_cost_rule_conditions_path(@cost_rule), :html => { :class => "simple_form" } ) do |f|
= form_for(:cost_rule_condition, :url => [@cost_rule, :cost_rule_conditions], :html => { :class => "simple_form" } ) do |f|
  - [CostHintCondition, NumberCostRuleCondition].each do |lt|
    .choice
      = radio_button_tag "cost_rule_condition_type", lt.to_s, @cost_rule_condition_type == lt.to_s
      = lt.l
      .hide_if_unchecked
        = f.simple_fields_for(n = ((@cost_rule_condition.class == lt && @cost_rule_condition) || lt.new(:cost_rule => @cost_rule))) do |nf|
          = nf.hidden_field :cost_rule_id
          = render :partial => "cost_rule_conditions/fields_#{lt.name.underscore}", :locals => { :f => nf, :cost_rule_condition => n }
  = f.submit "Ok"
= link_to t('views.cancel'), [@cost_rule, :cost_rule_conditions], :class => "inline_form_hide"
