= simple_form_for(wire_launch_cost_rule) do |f|
  = f.input :name, :required => true
  - if wire_launch_cost_rule.person_cost_category
    .input.string.required
      = f.label :person_cost_category
      = wire_launch_cost_rule.person_cost_category.name
      = f.input :person_cost_category_id, :as => :hidden, :value => wire_launch_cost_rule.person_cost_category_id
  - else
    = f.association :person_cost_category, :required => true
  - if wire_launch_cost_rule.wire_launcher_cost_category
    .input.string.required
      = f.label :wire_launcher_cost_category
      = wire_launch_cost_rule.wire_launcher_cost_category.name
      = f.input :wire_launcher_cost_category_id, :as => :hidden, :value => wire_launch_cost_rule.wire_launcher_cost_category_id
  - else
    = f.association :wire_launcher_cost_category, :required => true
  = f.input :cost, :required => true
  = f.input :valid_from, :required => true, :include_blank => true
  = f.input :valid_to, :include_blank => true
  - #f.input :comment #TODO add comment
  = f.button :submit
