%h1= t('.title')
= new_link(WireLauncher)
%table.filtered.table.table-striped.table-hover{ :"data-filter-by" => "filter_string" }
  %thead
    %tr.no_filter.show_on_startup
      %th= t("views.filter_search")
    %tr.no_filter.show_on_startup
      %td= text_field_tag "filter_string"
    %tr.no_filter
      %th= WireLauncher.l(:registration)
      %th= WireLauncher.l :wire_launcher_cost_categories
      %th= WireLauncher.l :financial_account
  %tbody
    - @wire_launchers.each do |wire_launcher|
      %tr{ :"data-filter_string" => wire_launcher.registration.downcase }
        %td= h wire_launcher.registration
        %td=h wire_launcher.current_wire_launcher_cost_category_memberships.map { |c| c.wire_launcher_cost_category.name }.join(", ")
        %td=h wire_launcher.financial_account
        %td= show_link(wire_launcher)
        %td= edit_link(wire_launcher)
