%h1= @group.name
= form_tag '', method: :get do
  .input.date
    = date_select :report, :from, default: @from
  .input.date
    = date_select :report, :to, default: @to
  = submit_tag

%table
  - @group_cost.people_with_sorted_cost.each do |person, sorted_cost|
    - unless sorted_cost.keys.empty?
      - first = true
      - sorted_cost.each do |what, how_much|
        %tr
          %td= person.name if first
          - first = false
          %td
            =t ".cost_item.#{what.class.to_s.underscore}", count: how_much[:count], what: what.to_s
          %td= format_currency(how_much[:cost])
      %tr
        %td
        %td
          Gesamt
        %td
        %td= format_currency(@group_cost.sum_for_person(person))
  %tr
    %td
      Summe
    %td
    %td
    %td= format_currency(@group_cost.sum)

%h1
  Settle
= form_tag settle_group_cost_overview_path(@group),  method: :post do
  .input.date
    = date_select :report, :from, default: @from
  .input.date
    = date_select :report, :to, default: @to
  .input
    = select_tag :account_id, options_for_select(FinancialAccount.all.map { |account| [ account.to_s, account.id ] })
  .input
    = text_field_tag :text
  = submit_tag
