= simple_form_for(@plane_cost_category_membership) do |f|
  .input
    = f.label :plane_cost_category
    = @plane_cost_category_membership.plane_cost_category.name
  - if @plane_cost_category_membership.valid_at_booking_now?
    .input
      = f.label :valid_from
      %input{ :value => l(@plane_cost_category_membership.valid_from), :disabled => "true" }
  - else
    = f.input :valid_from, :include_blank => false
  = f.input :valid_to, :include_blank => true
  = f.button :submit
= link_to t('views.cancel'), @plane_cost_category_membership.plane, :class => "inline_form_hide"
