= simple_form_for(@plane_cost_category_membership) do |f|
  = f.association :plane, :as => :hidden
  = f.association :plane_cost_category
  = f.input :valid_from, :include_blank => false
  = f.input :valid_to, :include_blank => true
  = f.button :submit
= link_to t('views.cancel'), @plane_cost_category_membership.plane, :class => "inline_form_hide"
