= f.simple_fields_for(launch) do |tf|
  = tf.association :plane
  = tf.input :seat1_id, :collection => Person.all.collect { |c| [ c.name, c.id ] }
  = tf.input :seat2_id, :collection => Person.all.collect { |c| [ c.name, c.id ] }
  = tf.association :to
  .input.time.optional.replaced
    %label.time.optional>= Flight.l(:departure)
    %span.departure_time= launch.abstract_flight.departure_time
  = tf.input :arrival_time
  .input.time.optional.replaced
    %label.time.optional>= Flight.l(:duration)
    %span.duration= launch.duration_time_span
  = tf.input :comment
