%table.data
  %tr
    %th= Flight.l(:tow_plane)
    %td= launch.plane
  %tr
    %th= Flight.l(:crew)
    %td
      - unless launch.seat1.nil?
        = launch.seat1.person.to_s
        = launch.seat1.short
        %br
      - unless launch.seat2.nil?
        = launch.seat2.person.to_s
        = launch.seat2.short
  %tr
    %th= Flight.l(:to)
    %td= launch.to
  %tr
    %th= Flight.l(:arrival)
    %td= launch.arrival.nil? ? '-' : l(launch.arrival, :format => :time)
  %tr
    %th= Flight.l(:duration)
    %td= format_minutes(launch.duration)
%a.sop.show{ :href => flight_path(launch) }= t("views.show")
