= simple_form_for(accounting_session, { :html => { :class => "accounting_session" } }) do |f|
  = f.input :name
  = f.input :voucher_number
  = f.input :accounting_date
  = f.input :bank_debit unless accounting_session.finished?
  = f.input :without_flights, disabled: accounting_session.bank_debit? unless accounting_session.finished?
  = f.input :start_date, disabled: accounting_session.without_flights? || accounting_session.bank_debit? unless accounting_session.finished?
  = f.input :end_date, disabled: accounting_session.without_flights? || accounting_session.bank_debit? unless accounting_session.finished?
  = f.association :credit_financial_account, disabled: !accounting_session.bank_debit? unless accounting_session.finished?
  = f.submit
