= simple_form_for(accounting_session) do |f|
  = f.input :name
  = f.input :voucher_number
  = f.input :accounting_date
  = f.input :without_flights
  = f.input :start_date
  = f.input :end_date
  = f.submit
