= simple_form_for(accounting_session, { :html => { :class => "accounting_session" } }) do |f|
  = f.input :name
  = f.input :voucher_number
  = f.input :accounting_date
  = f.input :bank_debit
  = f.input :without_flights
  = f.input :start_date
  = f.input :end_date
  = f.association :credit_financial_account, :disabled => true
  = f.submit
