%h1= t(".title")
= new_link(AccountingSession)
%table.table.table-striped.table-hover
  %thead
    %tr
      %th= AccountingSession.l(:name)
      %th= AccountingSession.l(:accounting_date)
      %th= AccountingSession.l(:start_date)
      %th= AccountingSession.l(:end_date)
      %th= AccountingSession.l(:finished_at)
  %tbody
    - @accounting_sessions.each do |s|
      %tr
        %td=h s.name
        %td= l(s.accounting_date) if s.accounting_date
        %td= s.without_flights? ? "-" : l(s.start_date)
        %td= s.without_flights? ? "-" : l(s.end_date)
        %td= s.finished? ? l(s.finished_at, :format => :short) : "-"
        %td= show_link(s)
        %td= destroy_confirmation_link(s) unless s.finished?
