%h1= "#{@accounting_session.voucher_number} - #{@accounting_session.name}"
- unless @accounting_session.without_flights?
  = l(@accounting_session.start_date)
  \-
  = l(@accounting_session.end_date)
.accounting_entries
  - @accounting_session.aggregated_entries.each do |ae|
    .accounting_entry
      = format_accounting_entry(ae)
