.cost_items.inline_form_replace_context
  - cost_rule.flight_cost_items.each do |c|
    .cost_item
      - if c.financial_account
        = show_link(c.financial_account, c.financial_account.name)
      - if c.depends_on && c.value
        = Flight.l(c.depends_on)
        *
        = format_currency(c.value)
      - if c.additive_value
        +
        = format_currency(c.additive_value)
      = edit_link(c, nil, { :class => "inline_form_show", :"data-replace" => polymorphic_path([cost_rule, :flight_cost_items])}) unless cost_rule.in_effect?
      = button_to t('views.destroy'), polymorphic_path(c), :method => :delete, :class => "delete", :"data-replace" => polymorphic_path([cost_rule, :flight_cost_items]) unless cost_rule.in_effect?
  = add_link([cost_rule, :flight_cost_item], {:class => "inline_form_show", :"data-replace" => polymorphic_path([cost_rule, :flight_cost_items])})  unless cost_rule.in_effect?
