%h1= t '.title'
= new_link(WireLauncherCostCategory)
%table.table.table-striped.table-hover
  %thead
    %tr
      %th= WireLauncherCostCategory.human_attribute_name(:name)
  %tbody
    - @wire_launcher_cost_categories.each do |wire_launcher_cost_category|
      %tr
        %td=h wire_launcher_cost_category.name
        %td= show_link(wire_launcher_cost_category)
        %td= edit_link(wire_launcher_cost_category)
