.boxes
  .account
    %h2 Benutzerkonto
    %ul
      %li Personendaten bearbeiten
      %li Buchungen anzeigen
      %li= link_to t("change_password"), new_password_path
  .bordbooks
    %h2= t('views.bordbooks')
    %ul
      - @planes.each do |p|
        %li= link_to p.registration, polymorphic_path([p, :flights])
  .views
    %h2 Ansichten
    %ul
      %li= link_to t("views.main_flight_book"), airfield_main_log_book_path(AppConfig::HomeAirfield)
      %li= link_to t("views.controller_log"), airfield_main_log_book_path(AppConfig::HomeAirfield, :as => "controller_log")
  .flightbooks
    %h2= t('views.flightbooks')
    %ul
      %li= link_to "Alle", polymorphic_path([@current_person, :flights])
      - @licenses.each do |l|
        %li= link_to l.name, polymorphic_path([l, :flights])
  .groupbooks
    %h2= Group.l(:plural)
    %ul
      - @groups.each do |g|
        %li= link_to g.name, polymorphic_path([g, :flights])
.clear
