.row
  .span6
    .well
      %h2 Benutzerkonto
      %ul.nav.nav-tabs.nav-stacked
        -#%li Personendaten bearbeiten
        -# if current_account && current_account.person && current_account.person.financial_account
        %li= link_to t("financial_account_overview"), own_financial_account_path
        %li= link_to t("change_password"), new_password_path
    - if Airfield.home.count > 0
      .well
        %h2 Ansichten
        %ul.nav.nav-tabs.nav-stacked
          - Airfield.home.each do |a|
            - date = AbstractFlight.latest_departure(a.flights).to_date
            %li= link_to t("views.main_flight_book", :name => a.to_s), scoped_flights_path(a, range: "#{date}_#{date}")
          %li= link_to t("views.contact_list"), group_people_path(Group.first, format: :csv)
    .well
      %h2= Group.l(:plural)
      %ul.nav.nav-tabs.nav-stacked
        - @groups.each do |g|
          %li= link_to g.name, scoped_flights_path(g)
  .span6
    .well
      %h2= t('views.bordbooks')
      %ul.nav.nav-tabs.nav-stacked
        - @planes.each do |p|
          %li= link_to p.registration, scoped_flights_path(p)
    .well
      %h2= t('views.flightbooks')
      %ul.nav.nav-tabs.nav-stacked
        %li= link_to "Alle", scoped_flights_path(@current_person)
        - @licenses.each do |l|
          %li= link_to l.name, scoped_flights_path(l)
