%h1= t(".title")
- if @financial_account.advance_payment?
  = "#{t(".saldo")}: #{format_currency(@saldo)}"
%table
  %tr
    %th= AccountingEntry.l(:date)
    %th= AccountingEntry.l(:text)
    %th= AccountingEntry.l(:value)
  - @accounting_entries.reverse.find_all { |e| e.date > 60.days.ago.to_date }.each do |e|
    %tr
      %td=l e.date.to_date
      - if e.item
        %td= link_to e.text, (AbstractFlight === e.item ? flight_path(e.item) : flight_path(e.item.abstract_flight))
      - else
        %td=h e.text
      %td= "#{(e.to_id == @financial_account.id ? "+" : "-")} #{format_currency(e.value)}"
