= simple_form_for(financial_account) do |f|
  = f.input :name
  = f.input :number
  = f.input :advance_payment
  = f.input :bank_account_holder
  = f.input :bank_account_number
  = f.input :bank_code
  = f.button :submit
