%h1= t '.title'
= new_link(FinancialAccount)
= link_to 'CSV', financial_accounts_path(format: :csv)
%table.filtered.table.table-striped.table-hover{ :"data-filter-by" => "filter_string" }
  %thead
    %tr.no_filter.show_on_startup
      %th= t("views.filter_search")
    %tr.no_filter.show_on_startup
      %td= text_field_tag "filter_string"
    %tr.no_filter
      - [ :name, :number, :balance, :member_account, :advance_payment, :bank_account_holder, :bank_account_number, :bank_code ].each do |attr|
        %th= link_to FinancialAccount.l(attr), financial_accounts_path(order: attr)
  %tbody
    - @financial_accounts.each do |financial_account|
      %tr{ :"data-filter_string" => financial_account.name.downcase }
        %td= h financial_account.name
        %td= h financial_account.number
        %td= h format_currency(financial_account.balance)
        %td= financial_account.member_account? ? t("simple_form.yes") : ""
        %td= financial_account.advance_payment? ? t("simple_form.yes") : ""
        %td= h financial_account.bank_account_holder
        %td= h financial_account.bank_account_number
        %td= h financial_account.bank_code
        %td= show_link(financial_account)
        %td= edit_link(financial_account)
        %td= link_to t("financial_account_overview"), [ financial_account, :overview ] if can?(:read, :financial_account_overview)
