%h1= t '.title'
%table.filtered{ :"data-filter-by" => "filter_string" }
  %tr.no_filter.show_on_startup
    %th= t("views.filter_search")
  %tr.no_filter.show_on_startup
    %td= text_field_tag "filter_string"
  %tr.no_filter
    %th= FinancialAccount.l(:name)
    %th= FinancialAccount.l(:number)
    %th= FinancialAccount.l(:advance_payment)
  - @financial_accounts.each do |financial_account|
    %tr.alternate_color{ :"data-filter_string" => financial_account.name.downcase }
      %td= h financial_account.name
      %td= h financial_account.number
      %td= financial_account.advance_payment? ? t("simple_form.yes") : ""
      %td= show_link(financial_account)
      %td= edit_link(financial_account)
= new_link(FinancialAccount)
