%h1= t '.title'
%table
  %tr
    %th= FinancialAccount.l(:name)
  - @financial_accounts.each do |financial_account|
    %tr
      %td= h financial_account.name
      %td= show_link(financial_account)
      %td= edit_link(financial_account)
= new_link(FinancialAccount)
