%h1=h "#{FinancialAccount.l} #{@financial_account.name}"
%table.data
  %tr
    %th= FinancialAccount.l(:name)
    %td=h @financial_account.name
  %tr
    %th= FinancialAccount.l(:number)
    %td=h @financial_account.number
  %tr
    %th= FinancialAccount.l(:member_account)
    %td= @financial_account.member_account? ? t("simple_form.yes") : t("simple_form.no")
  %tr
    %th= FinancialAccount.l(:advance_payment)
    %td= @financial_account.advance_payment? ? t("simple_form.yes") : t("simple_form.no")
  %tr
    %th= FinancialAccount.l(:bank_account_holder)
    %td=h @financial_account.bank_account_holder
  %tr
    %th= FinancialAccount.l(:bank_account_number)
    %td=h @financial_account.bank_account_number
  %tr
    %th= FinancialAccount.l(:bank_code)
    %td=h @financial_account.bank_code
  %tr
    %th= FinancialAccount.l(:max_debit_value)
    %td=h format_currency(@financial_account.max_debit_value)
  %tr
    %th= FinancialAccount.l(:owners)
    %td
      %ul.scroll.no_bullet
        - @financial_account.owners.each do |o|
          %li= show_link(o, o.to_s)
= edit_link(@financial_account)
= back_link(FinancialAccount)
= link_to t("financial_account_overview"), [ @financial_account, :overview ] if can?(:read, :financial_account_overview)
