%table.data
  %tr
    %th= FinancialAccount.l(:name)
    %td=h @financial_account.name
  %tr
    %th= FinancialAccount.l(:number)
    %td=h @financial_account.number
  %tr
    %th= FinancialAccount.l(:owners)
    %td
      %ul.scroll.no_bullet
        - @financial_account.owners.each do |o|
          %li= show_link(o, o.to_s)
= edit_link(@financial_account)
= back_link(FinancialAccount)
