%h1= @accounting_session.name
%h2= AccountingEntry.l(:manual_plural)
= link_to t("views.create", :name => AccountingEntry.l(:manual_plural)), new_accounting_session_manual_accounting_entry_path(@accounting_session) unless @accounting_session.finished?
= back_link(@accounting_session)
.import
  = form_tag import_accounting_session_manual_accounting_entries_path(@accounting_session), multipart: true do |f|
    = file_field_tag :file
    = submit_tag 'Import'
- @accounting_entries.each do |e|
  .manual_accounting_entry
    = format_accounting_entry(e)
    = destroy_confirmation_link(e) unless @accounting_session.finished?
