%h1= t '.title'
= new_link(CostHint)
%table
  %tr
    %th= CostHint.l(:name)
  %tbody.alternate
    - @cost_hints.each do |cost_hint|
      %tr.alternate_color.hover_mark
        %td= h cost_hint.name
        %td= edit_link(cost_hint)
