%h1= t '.title'
= new_link(CostHint)
%table.table.table-striped.table-hover
  %thead
    %tr
      %th= CostHint.l(:name)
  %tbody
    - @cost_hints.each do |cost_hint|
      %tr
        %td= h cost_hint.name
        %td= edit_link(cost_hint)
