.memberships.inline_form_replace_context
  %h3= t("#{group.to_s.pluralize}.index.title")
  %table.data
    - if object.send("previous_#{group}_memberships").count > 0
      %tr
        %th= t('views.previous')
        %td
          %ul.no_bullet
            - object.send("previous_#{group}_memberships").each do |m|
              %li
                = l(m.valid_from) rescue t('views.dates.minus_infinity')
                \-
                = l(m.valid_to) rescue t('views.dates.infinity')
                = m.send(group).name
    - if object.send("current_#{group}_memberships").count > 0
      %tr
        %th= t('views.current')
        %td
          %ul.no_bullet
            - object.send("current_#{group}_memberships").each do |m|
              %li
                %span.inline_form_hide_context
                  = l(m.valid_from) rescue t('views.dates.minus_infinity')
                  \-
                  = l(m.valid_to) rescue t('views.dates.infinity')
                  = show_link(m.send(group), m.send(group).name)
                  = edit_link(m, nil, { :class => "inline_form_show", :"data-replace" => polymorphic_path([object, "#{group}_membership".to_s.camelize.constantize]) })
    - if object.send("future_#{group}_memberships").count > 0
      %tr
        %th= t('views.future')
        %td
          %ul.no_bullet
            - object.send("future_#{group}_memberships").each do |m|
              %li
                %span.inline_form_hide_context
                  = l(m.valid_from) rescue t('views.dates.minus_infinity')
                  \-
                  = l(m.valid_to) rescue t('views.dates.infinity')
                  = show_link(m.send(group), m.send(group).name)
                  = edit_link(m, nil, { :class => "inline_form_show", :"data-replace" => polymorphic_path([object, "#{group}_membership".to_s.camelize.constantize]) })
                  = button_to t('views.destroy'), polymorphic_path(m), :method => :delete, :class => "delete", :"data-replace" => polymorphic_path([object, "#{group}_membership".to_s.camelize.constantize])
    %tr
      %td
      %td= add_link([object, "#{group}_membership".to_s.camelize.constantize], { :class => "inline_form_show", :"data-replace" => polymorphic_path([object, "#{group}_membership".to_s.camelize.constantize]) })
