%html
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %title
      FoxtrotMike
    = csrf_meta_tag
    = stylesheet_link_tag 'app'
    = stylesheet_link_tag @include_stylesheet_files
    = javascript_include_tag @include_javascript_files
    %body
      .small.center
        = yield
