<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>FoxtrotMike</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'formtastic' %>
  <%= stylesheet_link_tag 'app' %>
  <%= javascript_include_tag 'jquery-1.4.2' %>
  <%= javascript_include_tag 'i18n' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :head %>
</head>
<body>
  <%= render :partial => "common/navigation_bar" %>
  <%= render :partial => "common/account_bar" %>
  <%= yield(:content) or yield %>
</body>
</html>
