!!!
%html
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %title
      FoxtrotMike
    = wicked_pdf_stylesheet_link_tag 'scaffold'
    = wicked_pdf_stylesheet_link_tag 'app'
    = wicked_pdf_stylesheet_link_tag 'jquery-ui-1.8.5.custom'
    = wicked_pdf_stylesheet_link_tag 'facebox'
    = wicked_pdf_stylesheet_link_tag 'print'
    =# wicked_pdf_stylesheet_link_tag @include_stylesheet_files
  %body
    .content
      = yield
