= simple_form_for(account) do |f|
  = f.input :login
  = f.association :person
  = f.input :admin
  = f.input :license_official
  = f.input :treasurer
  = f.input :controller
  = f.input :reader
  = f.button :submit
