%h1= t '.title'
%table
  %tr
    %th= Account.l(:login)
  - @accounts.each do |account|
    %tr
      %td=h account.login
      %td= link_to t('views.show'), account_path(account)
      %td= link_to t('views.edit'), edit_account_path(account)
      %td= link_to t('views.destroy'), account_path(account), :confirm => t('views.areusure'), :method => :delete
= link_to t('views.new'), new_account_path 
