%h1= t '.title'
= new_link(Account)
%table
  %tr
    %th= Account.l(:login)
    %th= Account.l(:person)
  %tbody.alternate
    - @accounts.each do |account|
      %tr.alternate_color.hover_mark
        %td=h account.login
        %td= show_link(account.person, account.person.name)
        %td= edit_link(account)
        %td= destroy_link(account)
        %td= link_to t("change_password"), new_account_password_path(account) if current_account.admin?
