%h1= t "views.create", :name => Account.l
= simple_form_for(@account) do |f|
  = f.input :login
  = f.association :person
  = f.input :password, :as => :password
  = f.input :password_confirmation, :as => :password
  = f.button :submit
= back_link(Account)
