%table.data
  %tr
    %th= Account.l(:login)
    %td=h @account.login 
  %tr
    %th= Account.l(:person)
    %td= link_to @account.person.name, @account.person
= link_to t('views.edit'), edit_account_path(@account)
= link_to t('views.back'), accounts_path
